<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.patent.mapper.HistoryMapper" >
  <resultMap id="HistoryResultMap" type="com.suixingpay.patent.pojo.History" >
    <id column="history_id" property="historyId" jdbcType="INTEGER" />
    <result column="history_patent" property="historyPatent" jdbcType="INTEGER" />
    <result column="history_modification" property="historyModification" jdbcType="VARCHAR" />
    <result column="history_user" property="historyUser" jdbcType="VARCHAR" />
    <result column="history_create_time" property="historyCreateTime" jdbcType="TIMESTAMP" />
    <result column="patent_case_num" property="patentCaseNum" jdbcType="VARCHAR"/>
  </resultMap>



  <sql id="History_Column_List" >
    history_id, history_patent, history_modification, history_user, history_create_time
  </sql>
  <insert id="insertHistory" parameterType="com.suixingpay.patent.pojo.History">
    INSERT INTO history
    ( history_patent, history_modification, history_user, history_create_time )
    VALUES
	(#{historyPatent},#{historyModification},#{historyUser},#{historyCreateTime} )
  </insert>

  <select id="queryHistory" parameterType="com.suixingpay.patent.pojo.History" resultMap="HistoryResultMap">
    select <include refid="History_Column_List" />,patent_case_num from history LEFT JOIN patent on history_patent = patent_id
    <where>
        <if test="patentCaseNum != null and != ''">
            patent_case_num = #{patentCaseNum}
        </if>
        <if test="historyUser!= null and != ''">
            history_user = #{historyUser}
        </if>
    </where>
  </select>

  <select id="selectHistoryByPatent" parameterType="com.suixingpay.patent.pojo.History" resultMap="HistoryResultMap">
    select <include refid="History_Column_List" /> from history h left join patent p on h.history_patent = p.patent_id
    where h.history_patent = #{historyPatent}
  </select>

</mapper>