<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.patent.mapper.IndexMapper" >
  <resultMap id="BaseResultMap" type="com.suixingpay.patent.pojo.Index" >
    <id column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="index_patent_id" property="indexPatentId" jdbcType="INTEGER" />
    <result column="index_content" property="indexContent" jdbcType="VARCHAR" />
    <result column="index_create_time" property="indexCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    index_id, index_patent_id, index_content, index_create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="Integer" >
    select 
    <include refid="Base_Column_List" />
    from index
    where index_id = #{indexId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="Integer" >
    delete from index
    where index_id = #{indexId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.suixingpay.patent.pojo.Index" >
    insert into index (index_id, index_patent_id, index_content, 
      index_create_time)
    values (#{indexId,jdbcType=INTEGER}, #{indexPatentId,jdbcType=INTEGER}, #{indexContent,jdbcType=VARCHAR}, 
      #{indexCreateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.suixingpay.patent.pojo.Index" >
    insert into index
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="indexId != null" >
        index_id,
      </if>
      <if test="indexPatentId != null" >
        index_patent_id,
      </if>
      <if test="indexContent != null" >
        index_content,
      </if>
      <if test="indexCreateTime != null" >
        index_create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="indexId != null" >
        #{indexId,jdbcType=INTEGER},
      </if>
      <if test="indexPatentId != null" >
        #{indexPatentId,jdbcType=INTEGER},
      </if>
      <if test="indexContent != null" >
        #{indexContent,jdbcType=VARCHAR},
      </if>
      <if test="indexCreateTime != null" >
        #{indexCreateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.suixingpay.patent.pojo.Index" >
    update index
    <set >
      <if test="indexPatentId != null" >
        index_patent_id = #{indexPatentId,jdbcType=INTEGER},
      </if>
      <if test="indexContent != null" >
        index_content = #{indexContent,jdbcType=VARCHAR},
      </if>
      <if test="indexCreateTime != null" >
        index_create_time = #{indexCreateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.suixingpay.patent.pojo.Index" >
    update index
    set index_patent_id = #{indexPatentId,jdbcType=INTEGER},
      index_content = #{indexContent,jdbcType=VARCHAR},
      index_create_time = #{indexCreateTime,jdbcType=TIMESTAMP}
    where index_id = #{indexId,jdbcType=INTEGER}
  </update>
</mapper>