<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.patent.mapper.NoticeMapper" >
  <resultMap id="NoticeResultMap" type="com.suixingpay.patent.pojo.Notice" >
    <id column="notice_id" property="noticeId" jdbcType="INTEGER" />
    <result column="notice_patent_id" property="noticePatentId" jdbcType="INTEGER" />
    <result column="notice_path" property="noticePath" jdbcType="VARCHAR" />
    <result column="notice_name" property="noticeName" jdbcType="VARCHAR" />
    <result column="notice_status" property="noticeStatus" jdbcType="INTEGER" />
    <result column="notice_create_time" property="noticeCreateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <insert id="insert" parameterType="com.suixingpay.patent.pojo.Notice" >
    insert into notice (notice_patent_id, notice_path,
      notice_status, notice_create_time,notice_name
      )  values (#{noticePatentId,jdbcType=INTEGER}, #{noticePath,jdbcType=VARCHAR},
       #{noticeStatus,jdbcType=INTEGER}, #{noticeCreateTime,jdbcType=TIMESTAMP},#{noticeName,jdbcType=VARCHAR}
      )
  </insert>
  <update id="delete">
    update notice set notice_status =0 where notice_id =#{noticeId};
  </update>

  <select id="selectNoticeByPatentId" resultMap="NoticeResultMap">
    select notice_id,notice_patent_id, notice_path,
      notice_status, notice_create_time,notice_name from notice where notice_id=#{noticeId}
  </select>

  <select id="selectByPatentId" resultMap="NoticeResultMap">
    select notice_id,notice_patent_id, notice_path,
      notice_status, notice_create_time,notice_name from notice where notice_patent_id=#{noticePatentId}
  </select>

</mapper>