<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.patent.mapper.PatentMapper" >
  <resultMap id="PatentResultMap" type="com.suixingpay.patent.pojo.Patent" >
    <id column="patent_id" property="patentId" jdbcType="INTEGER" />
    <result column="patent_batch" property="patentBatch" jdbcType="VARCHAR" />
    <result column="patent_case_num" property="patentCaseNum" jdbcType="VARCHAR" />
    <result column="patent_apply_num" property="patentApplyNum" jdbcType="VARCHAR" />
    <result column="patent_apply_time" property="patentApplyTime" jdbcType="TIMESTAMP" />
    <result column="patent_technical_contact" property="patentTechnicalContact" jdbcType="VARCHAR" />
    <result column="patent_apply_person" property="patentApplyPerson" jdbcType="VARCHAR" />
    <result column="patent_create_person" property="patentCreatePerson" jdbcType="INTEGER" />
    <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
    <result column="patent_sign" property="patentSign" jdbcType="INTEGER" />
    <result column="patent_status_id" property="patentStatusId" jdbcType="INTEGER" />
    <result column="patent_type" property="patentType" jdbcType="VARCHAR" />
    <result column="patent_inventor" property="patentInventor" jdbcType="VARCHAR" />
    <result column="patent_writer" property="patentWriter" jdbcType="INTEGER" />
    <result column="patent_remarks" property="patentRemarks" jdbcType="LONGVARCHAR" />
    <result column="status_name" property="statusName" jdbcType="VARCHAR" />
    <result column="user_name" property="createPersonName" jdbcType="VARCHAR" />
    <result column="user_name1" property="writerName" jdbcType="VARCHAR" />
    <result column="user_name1" property="writerName" jdbcType="VARCHAR" />
    <result column="index_id" property="indexId" jdbcType="INTEGER" />
    <result column="index_content" property="indexContent" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Patent_Column_List" >
    patent_id, patent_batch, patent_case_num, patent_apply_num, patent_apply_time, patent_technical_contact,
    patent_apply_person, patent_create_person, patent_name, patent_sign, patent_status_id,
    patent_type, patent_inventor, patent_writer,patent_remarks
  </sql>

<!--  查询专利信息 通过专利id查询、案件文号查询、申请号查询、申请日期查询、进度查询、发明人姓名查询、专利名称、创建人id查询、撰写人id查询-->
  <select id="selectPatent" resultMap="PatentResultMap" parameterType="com.suixingpay.patent.pojo.Patent">
    select
    <include refid="Patent_Column_List" />,status_name,u1.user_name,u2.user_name user_name1
     from (select <include refid="Patent_Column_List" /> from patent
    <trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
      <if test="patentId!=null">patent_id=#{patentId,jdbcType=INTEGER}</if>
      <if test="patentCaseNum!=null"> and patent_case_num like concat('%',#{patentCaseNum,jdbcType=VARCHAR},'%') </if>
      <if test="patentApplyNum!=null"> and patent_apply_num like concat('%',#{patentApplyNum,jdbcType=VARCHAR},'%') </if>
      <if test="patentApplyTime!=null"> and patent_apply_time=#{patentApplyTime,jdbcType=TIMESTAMP}</if>
      <if test="patentStatusId!=null"> and patent_status_id=#{patentStatusId,jdbcType=INTEGER}</if>
      <if test="patentSign!=null"> and patent_sign=#{patentSign,jdbcType=INTEGER}</if>
      <if test="patentInventor!=null"> and patent_inventor like concat('%',#{patentInventor,jdbcType=VARCHAR},'%') </if>
      <if test="patentName!=null"> and patent_name like concat('%',#{patentName,jdbcType=VARCHAR},'%') </if>
      <if test="patentCreatePerson!=null"> and patent_create_person=#{patentCreatePerson,jdbcType=INTEGER}</if>
      <if test="patentWriter!=null"> and patent_writer=#{patentWriter,jdbcType=INTEGER}</if>
      <if test="specialCondition!=null"> and ${specialCondition}</if>
    </trim>
    ) p
     left join status s on p.patent_status_id=s.status_id
     left join user u1 on p. patent_create_person=u1.user_id
     left join user u2 on p.patent_writer=u2.user_id
  </select>

  <!--  指标维度查询 通过指标内容、专利名称、案件文号查询、申请号查询、申请日期查询、进度查询、发明人姓名查询-->
  <select id="selectPatentWithIndex" resultMap="PatentResultMap" parameterType="com.suixingpay.patent.pojo.Patent">
    select
    <include refid="Patent_Column_List" />,status_name,u2.user_name user_name1,index_id,index_content,index_create_time
    from (select index_id,index_patent_id,index_content,index_create_time from `index`
    <trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
      <if test="indexId!=null"> index_id=#{indexId,jdbcType=INTEGER}</if>
      <if test="indexContent!=null"> and index_content like concat('%',#{indexContent,jdbcType=VARCHAR},'%') </if>
    </trim>
    ) i
    left join patent p on i.index_patent_id=p.patent_id
    left join status s on p.patent_status_id=s.status_id
    left join user u2 on p.patent_writer=u2.user_id
    <trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
      <if test="patentName!=null"> and patent_name like concat('%',#{patentName,jdbcType=VARCHAR},'%') </if>
      <if test="patentCaseNum!=null"> and patent_case_num like concat('%',#{patentCaseNum,jdbcType=VARCHAR},'%') </if>
      <if test="patentApplyNum!=null"> and patent_apply_num like concat('%',#{patentApplyNum,jdbcType=VARCHAR},'%') </if>
      <if test="patentApplyTime!=null"> and patent_apply_time =#{patentApplyTime,jdbcType=TIMESTAMP}</if>
      <if test="patentStatusId!=null"> and patent_status_id=#{patentStatusId,jdbcType=INTEGER}</if>
      <if test="patentInventor!=null"> and patent_inventor like concat('%',#{patentInventor,jdbcType=VARCHAR},'%') </if>
    </trim>
  </select>

<!--  插入专利信息-->
  <insert id="insertPatent" parameterType="com.suixingpay.patent.pojo.Patent" useGeneratedKeys="true" keyProperty="id">
    insert into patent (patent_batch, patent_case_num,
      patent_apply_num, patent_apply_time, patent_technical_contact,
      patent_apply_person, patent_create_person,
      patent_name, patent_sign, patent_status_id,
      patent_type, patent_inventor, patent_writer,
      patent_remarks)
    values (#{patentBatch,jdbcType=VARCHAR}, #{patentCaseNum,jdbcType=VARCHAR},
      #{patentApplyNum,jdbcType=VARCHAR}, #{patentApplyTime,jdbcType=TIMESTAMP}, #{patentTechnicalContact,jdbcType=VARCHAR},
      #{patentApplyPerson,jdbcType=VARCHAR}, #{patentCreatePerson,jdbcType=INTEGER},
      #{patentName,jdbcType=VARCHAR}, #{patentSign,jdbcType=INTEGER}, #{patentStatusId,jdbcType=INTEGER},
      #{patentType,jdbcType=VARCHAR}, #{patentInventor,jdbcType=VARCHAR}, #{patentWriter,jdbcType=INTEGER},
      #{patentRemarks,jdbcType=LONGVARCHAR})
  </insert>

  <!--修改专利信息-->
  <update id="updatePatent" parameterType = "com.suixingpay.patent.pojo.Patent">
    UPDATE patent
    <trim prefix="SET" prefixOverrides=",">
      <if test="patentBatch!=null">patent_batch=#{patentBatch,jdbcType=VARCHAR}</if>
      <if test="patentCaseNum!=null">,patent_case_num=#{patentCaseNum,jdbcType=VARCHAR}</if>
      <if test="patentApplyNum!=null">,patent_apply_num=#{patentApplyNum,jdbcType=VARCHAR}</if>
      <if test="patentApplyTime!=null">,patent_apply_time=#{patentApplyTime,jdbcType=TIMESTAMP}</if>
      <if test="patentName!=null">,patent_name=#{patentName,jdbcType=VARCHAR}</if>
      <if test="patentTechnicalContact!=null">,patent_technical_contact=#{patentTechnicalContact,jdbcType=VARCHAR}</if>
      <if test="patentApplyPerson!=null">,patent_apply_person=#{patentApplyPerson,jdbcType=VARCHAR}</if>
      <if test="patentType!=null">,patent_type=#{patentType,jdbcType=VARCHAR}</if>
      <if test="patentInventor!=null">,patent_inventor=#{patentInventor,jdbcType=VARCHAR}</if>
      <if test="patentWriter!=null">,patent_writer=#{patentWriter,jdbcType=LONGVARCHAR}</if>
      <if test="patentRemarks!=null">,patent_remarks=#{patentRemarks,jdbcType=LONGVARCHAR}</if>
      <if test="patentSign!=null">,patent_sign=#{patentSign,jdbcType=INTEGER}</if>
      <if test="patentStatusId!=null">,patent_status_id=#{patentStatusId,jdbcType=INTEGER}</if>
    </trim>
    <trim prefix="WHERE (" suffix=")" prefixOverrides="AND |OR ">
      <if test="patentId!=null">patent_id=#{patentId,jdbcType=INTEGER}</if>
      <if test="specialCondition!=null"> and ${specialCondition}</if>
    </trim>
  </update>
</mapper>