<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suixingpay.patent.mapper.UserMapper">
    <insert id="insertUser" parameterType="com.suixingpay.patent.pojo.User">
  insert into user (user_name, user_account, user_password,user_status,user_create_time) values (#{userName},#{userAccount},#{userPassword},#{userStatus},#{userCreateTime})
  </insert>


    <update id="updateUserByUserId">
    update user set user_status = 0 where user_Id=#{userId}
  </update>
  <update id="updateLocalUserByUserId">

    update user set user_name=${userName} ,user_password=#{userPassword} where user_id =#{userId}
  </update>

    <select id="selectUserByUserAccountAndUserPassword" resultType="com.suixingpay.patent.pojo.User">
  select user_id, user_name, user_account, user_password, user_status, user_create_time from user where
  user_account=#{userAccount} and user_password=#{userPassword}
  </select>

    <select id="selectAllUser" resultType="com.suixingpay.patent.pojo.User">
  select user_id, user_name, user_account, user_password, user_status, user_create_time from user
  </select>

    <select id="selectUserByUserId" resultType="com.suixingpay.patent.pojo.User">
    select user_id, user_name, user_account, user_password, user_status, user_create_time from user where
    user_id=#{UserId}
  </select>

  <select id="findUser" resultType="com.suixingpay.patent.pojo.User" parameterType="com.suixingpay.patent.pojo.User">
  select user_id, user_name, user_account, user_password, user_status, user_create_time from user
  <where>
      <if test="#{userName}!=null and #{userName}!=''">
          user_name like concat('%',#{userName,jdbcType=VARCHAR},'%')
      </if>

      <if test="#{userAccount}!=null and #{userAccount}!=''">
          and user_account like concat('%',#{userAccount,jdbcType=VARCHAR},'%')
      </if>
  </where>
  </select>

  <select id="selectUserByUserAccount" resultType="com.suixingpay.patent.pojo.User">
        select user_id, user_name, user_account, user_password, user_status, user_create_time from user where
    user_Account=#{userAccount}
  </select>


</mapper>